body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}
  
ol, ul {
    padding-left: 30px;
}
  

.board-row:after {
    clear: both;
    content: "";
    display: table;
}
  
.status {
    margin-bottom: 1.0px;
}
  
.reg_square {
    /* background: #fff; */
    border: 2px solid #999;
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 34px;
    height: 75px;
    width: 75px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    cursor: pointer;
}


.ls {
    background: #fff;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 75px;
    width: 75px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    border-top: 2px solid #999;
    border-right: white;
    border-left: white;
    border-bottom: white;
    
}
.ls:first-child {
    border-top: white
}

.number_square {
    
        background: #fff;
        float: left;
        font-size: 24px;
        font-weight: bold;
        line-height: 34px;
        height: 75px;
        width: 75px;
        margin-right: -1px;
        margin-top: -1px;
        padding: 0;
        text-align: center;
        border-top: white;
        border-right: white;
        border-left: white;
        border-bottom: white
        
}
@media (max-width: 400px) {
    .reg_square {
        width: 36px;
        height: 36px;
        font-size: 24px
    }
    .ls {
        width: 36px;
        height: 36px;
        font-size: 24px
    }
    .number_square {
        width: 36px;
        height: 36px;
        font-size: 24px
    }
}

.color {
      color: black
}
  
.wrong_color {
      color: red
}
  
.square:focus {
    outline: none;
}
  
.kbd-navigation .square:focus {
    background: #ddd;
}
  
.game {
    display: flex;
    flex-direction: row;
}
  
.game-info {
    margin-left: 20px;
}
  
.rows {
    display: flex
}
@media (max-width: 400px) {
    .rows {
        flex-direction: column;
    }
}