body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}
@media(max-width: 400px) {
    body {
        margin: 10px 0 0 0;
    }
}
  
ol, ul {
    padding-left: 30px;
}
  
.title {
    margin: 0 auto;
    width: 50%;
    font-size: 36px;
}
@media (max-width: 500px) {
    .title {
        font-size: 12px
    }
}
.board-row:after {
    clear: both;
    content: "";
    display: table;
}
  
.status {
    margin-bottom: 1.0px;
}
  
.color {
    color: black
}
  
.wrong_color {
    color: red
}
  
.square:focus {
    outline: none;
}
  
.kbd-navigation .square:focus {
    background: #ddd;
}
  
.game {
    display: flex;
    flex-direction: row;
}
@media (max-width: 400px) {
    .game {
        display: block
    }
}
  
.game-info {
    margin-left: 20px;
}
  
.rows {
    display: flex
}
@media (max-width: 500px) {
    .rows {
        display: block
        /* flex-direction: column; */
    }
}
.error-message {
    width:100%;
    margin: 0 auto;
    color: red;
    display: flex;
    align-content: center;
}